<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Moq" version="4.8.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="net461" />
  <package id="Xamarin.Forms.Mocks" version="2.5.0.4" targetFramework="net461" />
</packages>